@media (min-width:577px) and (max-width: 950px) {
    
    .card{
        width: 577px;
    }
    .nav-flex-row li a {
        font-size: 1.0em;
    }
    .section-intro {
        height: 500px;  
    }

    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }
    
    .album{
        justify-content: center;
        display: flex;
        flex-direction: column;
        
        width: 100%;
    }   
    #portifolio{
        width: 100%;
    }

    
}

@media screen and (max-width: 576px) {
    .card{
        width: 400px;
    }
    html{
        overflow-x: hidden;
    }
    body { 
    
    width: 100%;
    overflow-x: hidden;
    }

    .section-intro {
        height: 100%;
       
    }

    .about-section {
        padding: 0px;
        margin: 0px;
    }   

    .row-flex {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .album{
        justify-content: center;
        display: flex;
        flex-direction: column;
        
        width: 100%;
    }
   
    #portifolio{
        width: 100%;
    }
    
}
